In [1]:
import pandas as pd

/Users/alwintarunaind/anaconda3/lib/python3.10/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
df = pd.read_csv('ML_Review data.csv')

In [3]:
!pip install nltk

Requirement already satisfied: nltk in /Users/alwintarunaind/anaconda3/lib/python3.10/site-packages (3.7)
Requirement already satisfied: regex>=2021.8.3 in /Users/alwintarunaind/anaconda3/lib/python3.10/site-packages (from nltk) (2022.7.9)
Requirement already satisfied: joblib in /Users/alwintarunaind/anaconda3/lib/python3.10/site-packages (from nltk) (1.1.0)
Requirement already satisfied: tqdm in /Users/alwintarunaind/anaconda3/lib/python3.10/site-packages (from nltk) (4.64.1)
Requirement already satisfied: click in /Users/alwintarunaind/anaconda3/lib/python3.10/site-packages (from nltk) (8.1.7)

In [4]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [5]:
df

,ProductID,Review,battery life,camera quality,screen,performance,price,Rating
0,P001,The battery life is good. The camera quality i...,1,1,0,1,0,4
1,P001,"Overall, this product is excellent.",0,0,0,0,0,5
2,P001,The battery life is disappointing. The screen ...,1,0,1,1,0,2
3,P001,The screen is satisfactory. The performance is...,0,0,1,1,1,4
4,P001,The screen is terrible. The price is the worst...,0,0,1,0,1,1
...,...,...,...,...,...,...,...,...
9995,P020,The battery life is perfect. The camera qualit...,1,1,1,0,0,5
9996,P020,The screen is okay. I had higher expectations.,0,0,1,0,0,3
9997,P020,The camera quality is outstanding. The screen ...,0,1,1,1,0,5
9998,P020,The battery life is bad. The camera quality is...,1,1,0,1,0,2
9999,P020,The battery life is satisfactory. The camera q...,1,1,1,1,1,4

In [6]:
from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize
import nltk

In [7]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/alwintarunaind/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [8]:
 nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/alwintarunaind/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [9]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/alwintarunaind/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [10]:
ps = PorterStemmer()

In [11]:
from nltk.corpus import stopwords

stopwords = set(stopwords.words('english'))

In [12]:
def remove_stop_words(x):
    return ' '.join([word for word in x.lower().split() if word not in stopwords])

In [13]:
df['Review'] = df['Review'].apply(remove_stop_words)

In [14]:
def stem_words(x):
    return ' '.join([ps.stem(word) for word in x.split()])

In [15]:
df['Review'] = df['Review'].apply(stem_words)

In [16]:
def tokenize(x):
    return ' '.join(word_tokenize(x))

In [17]:
df['Review'] = df['Review'].apply(tokenize)

In [18]:
sent_analyzer = SentimentIntensityAnalyzer()

In [19]:
df['sentiment_score'] = df['Review'].apply(lambda x: sent_analyzer.polarity_scores(x).get('compound', 0.0))

In [20]:
def classify_sentiment(x):
    if x< 0:
        return 'negative'
    elif x == 0:
        return 'neutral'
    else:
        return 'positive'

In [21]:
#Considering 4-5 to be positive, 3 to be neutral and 1-2 negative
def true_class(x):
    if x >=4:
        return 'positive'
    elif x == 3:
        return 'neutral'
    else:
        return 'negative'

In [22]:
df['sentiment_pred'] = df['sentiment_score'].apply(classify_sentiment)

In [23]:
df['sentiment'] = df['Rating'].apply(true_class)

In [24]:
from sklearn.metrics import precision_score, recall_score, f1_score, accuracy_score

In [25]:
precision = precision_score(df['sentiment'], df['sentiment_pred'], average='macro')

In [26]:
recall = recall_score(df['sentiment'], df['sentiment_pred'], average='macro')

In [27]:
f1 = f1_score(df['sentiment'], df['sentiment_pred'], average='macro')

In [28]:
accuracy = accuracy_score(df['sentiment'], df['sentiment_pred'])

In [29]:
f1

0.806886745500876

In [30]:
recall

0.7940705128205128

In [31]:
precision

0.9220621683093252

In [32]:
accuracy

0.8458

In [33]:
pd.DataFrame(
    [{
        'accuracy': accuracy,
        'precision': precision,
        'recall': recall,
        'f1': f1
    }]
)

   accuracy  precision    recall        f1
0    0.8458   0.922062  0.794071  0.806887

In [34]:
df.to_csv('processed_df.csv', index=False)

In [37]:
df

,ProductID,Review,battery life,camera quality,screen,performance,price,Rating,sentiment_score,sentiment_pred,sentiment
0,P001,batteri life good . camera qualiti quit nice ....,1,1,0,1,0,4,0.8225,positive,positive
1,P001,"overall , product excellent .",0,0,0,0,0,5,0.5719,positive,positive
2,P001,batteri life disappointing . screen disappoint...,1,0,1,1,0,2,-0.8720,negative,negative
3,P001,screen satisfactory . perform quit nice . pric...,0,0,1,1,1,4,0.7783,positive,positive
4,P001,screen terrible . price worst . higher expecta...,0,0,1,0,1,1,-0.8020,negative,negative
...,...,...,...,...,...,...,...,...,...,...,...
9995,P020,batteri life perfect . camera qualiti perfect ...,1,1,1,0,0,5,0.9022,positive,positive
9996,P020,screen okay . higher expectations .,0,0,1,0,0,3,0.2263,positive,neutral
9997,P020,camera qualiti outstanding . screen excellent ...,0,1,1,1,0,5,0.9081,positive,positive
9998,P020,batteri life bad . camera qualiti bad . perfor...,1,1,0,1,0,2,-0.8779,negative,negative
9999,P020,batteri life satisfactory . camera qualiti sat...,1,1,1,1,1,4,0.9022,positive,positive